<section class="module">
  <div style="display: flex; justify-content: space-between;">
      <h3 class="module-header">{{ page.title }}</h3>
      <h4 class="module-header">{{ page.date | date: "%b %-d" }}</h4>
  </div>
  <a id="{{ page.weekid }}"></a>
  {% assign content_stripped = content | strip_newlines | strip %}
  {% if content_stripped %}
  <div class="module-body">
      {{ content }}
  </div>
  {% endif %}
  {% if page.assignments %}
      <h4 class="module-header">Assignments</h4>
      <div class="module-body"><ul>
	  {% for assignment in page.assignments %}
	      <li>
		  <span class="module-date">
		      {{ assignment.due }}
		  </span>
		  {{ assignment.desc | markdownify | remove: '<p>' | remove: '</p>' }}
	      </li>
	  {% endfor %}
      </ul></div>
  {% endif %}
  <div class="module-deck">
      <div class="module">
	  <h4 class="module-header">Lecture</h4>
	  <div class="module-body">
	      {{ page.lecture | markdownify }}
	  </div>
      </div>
      <div class="module">
	  <h4 class="module-header">Fieldwork</h4>
	  <div class="module-body">
	      {{ page.fieldwork | markdownify }}
	  </div>
      </div>
  </div>
</section>
